@charset "utf-8";

body,header,section,main,footer,article,address,div,nav,ol,ul,li,dl,dt,dd,p,
h1,h2,h3,h4,h5,h6,form,fieldset,legend,button,input,table,tbody,tr,th,td,
figure,figcaption{
	margin: 0;
	padding: 0;
}
ol,ul{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
	border: 0;
}
button,fieldset{
	border: 0;
}
address{
	font-style: normal;
}
legend,caption,hr{
	display: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
button{
	background: none;
}