@charset "utf-8";
@import "default.css";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');


/* TYPOCRAPHY */
html, body { width: 100%; overflow-x: hidden; }

body {
	font-family: 'Montserrat', sans-serif;;
	font-size: 16px;
	color:#333333;
    background: #F8F8F8;
}

/* LAYOUT */
.container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
    margin: 0 auto;
}

.tab-contents-wrap .innerwrap {
    width: 62.5%;
    margin: 0 auto;
}

/* l-btn */
.l-btn {
    display: flex;
    align-items: center;
    padding-right: 2rem;
}

.l-btn .circle {
    display: block;
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 50px;
    background: #62832b;
    margin-right: 1.4375rem;
    text-align: center;
    transition: .2s;
}

.l-btn .circle i {
    color: #fff;
    font-size: 1.5rem;
    line-height: 4.25rem;
}

.l-btn .btn-txt {
    font-size: 1.2rem;
    letter-spacing: -1px;
    color: #6B6B6B;
}

/* HEADER */
header {
    position: absolute;
    z-index:1000;
    top:0;
    left: 0;
    right: 0;
    padding: 51px 0 37px;
    transition: .3s;
}

header .header-top {
    position: relative;
}

header .container a {
    color: #333;
}

header .logo a {
    width: 162px;
    height: 31px;
    background: url(../../images/product/c-logo.png) no-repeat;
    background-size: 100% 100%;
    text-indent: -9999px;
    display: block;
}

header .nav-pc > ul {
    display: flex;
}

header .nav-pc > ul > li{
    width: 159px;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    position: relative;
    font-weight:600;
}

header .nav-pc > ul > li > a {
    font-size: 1.1rem;
}

header .nav-pc .sub {
    width: 159px;
    text-align: center;
    position: absolute;
    top:3rem;
    z-index: 100;
    background: #62832b;
    display: none;
    padding: 1rem 0;
}

header .nav-pc .sub li {
    height: 1.8rem;
    line-height: 1.8rem;
}

header .nav-pc .sub a {
    color: #fff;
    font-size: 0.875rem;
    font-weight: 400;
}

header .gnb {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .gnb > ul {
    display: flex;
}

header .gnb ul > li {
    padding: 0 0.625rem;
}

header .gnb .g-l {
    position: relative;
}

header .gnb .g-l::after{
    display: block;
    content: '';
    width: 1px;
    height: 10px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    right: 0;
    top:5px
}

header .gnb .g-w {
    position: relative;
}

header .gnb .g-w .depth {
    position: absolute;
    text-align: center;
    border: 1px solid #ddd;
    left: -5px;
    background: #fff;
    z-index: 2000;
    display: none;
}

header .gnb .g-w .depth.active {
    display: block;
}

header .gnb .g-w .depth li:first-child {
    border-top: none;
}

header .gnb .g-w .depth li {
    border-top: 1px solid #ddd;
}

header .gnb .g-w .depth li a {
    display: block;
    padding: 3px 5px;
    color :#333;
    font-weight: 500;
}

header .gnb a{
    font-size: 0.875rem;
}

header .gnb .toggle {
    margin-left: 1.3rem;
    color: #333;
    font-size: 2rem;
    display: none;
}

/* header.sticky  */
header.sticky {
    position: fixed;
    padding: 0.5rem 0px;
    background: #F8F8F8;
    box-shadow: 0 2px 2px rgb(0 0 0 / 30%);
}

header.sticky .header-top {
    position: relative;
    width: 100%;
}

header.sticky .header-top .gnb_bg{
    position: absolute;
    border-top: 3px solid #eee;
    background: #fff;
    width: 100%; 
    padding: 1.3rem 0;
    height: 13rem !important;
    left: 0;
    top:3.5rem;
    display: none;
}

header.sticky .nav-pc .sub {
    background: #fff;
    border-top: 3px solid #eee;
    width: 159px;
    height: 13rem !important;
    text-align: center;
    position: absolute;
    top:3.5rem;
    display: none;
    padding: 1rem 0;
}

header.sticky .nav-pc .nav-li:hover .sub{
    border-top: 3px solid #62832B;
}

header.sticky .nav-li .sub ul a:hover {
    color:#62832B;
}

header.sticky .container a {
    color: #222;
    font-weight: 700;
}

header.sticky .container .gnb .g-w > a {
    color: #538254;
}

header.sticky .container .gnb .g-l a {
    color: #666;
    font-weight: 500;
}

header.sticky .logo a {
    width: 162px;
    height: 31px;
    background: url(../../images/product/c-logo.png);
    background-size: 100% 100%;
}

header.sticky .gnb .g-l::after{
    background: rgba(0, 0, 0, 0.3);
}

/*PRODUCT*/
#product .page-top {
    position: relative;
    padding: 15.625rem 7.5% 0;
}

#product .page-top .page-location{
    display: flex;
    justify-content: flex-end;
}

#product .page-top .page-location > ul{
    display: flex;
}

#product .page-top .page-location > ul > li {
    position: relative;
    padding-right: 1rem;
    margin-right: 0.625rem;
    font-size: 14px;
    color: #555;
}

#product .page-top .page-location > ul > li:after {
    display: block;
    content: "";
    width: 7px;
    height: 11px;
    background: url(../../images/product/arrow.png) no-repeat;
    position: absolute;
    right: -1px;
    top: 3px;
}

#product .page-top .page-location > ul > li:last-child::after{
    background: none;
}

#product .page-top .page-location > ul > li a {
    font-size: 0.875rem;
    color: #666666;
}

#product .page-top .page-title {
    position: relative;
    z-index: 10;
    margin-top: 2.8125rem;
}

#product .page-top .page-title .product-bg {
    overflow: hidden;
    position: relative;
    right: -8.8%;
    top: 0;
    width: 100%;
    height: 33.125rem;
    transition: all 1s;
}

#product .page-top .page-title .product-bg .product-bg-box {
    width: 100%;
    height: 100%;
    background: url(../../images/product/product-bg.jpg) no-repeat right center;
    position: absolute;
    transform: translateY(0%);
    top:0;
    right: 0;
    transition: .6s;
}

#product .page-top .page-title .product-title {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 10;
    transition: all 1s;
}

#product .page-top .page-title h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 14.375rem;
    color: #222;
    line-height: 12rem;
    text-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}

/* page-contents */
.page-contents .title-area {
    padding: 7.5rem;
}

.page-contents .main-title .en {
    font-family: 'Cormorant Garamond', serif;
    font-size: 6.25rem;
}

.page-contents .main-title .kr{
    position: relative;
    color: #62832B;
    font-weight: 600;
    padding: 2rem 0 3.125rem 4.375rem;
}

.page-contents .main-title .kr::after {
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    background: #62832B;
    position: absolute;
    left: 0;
    top: 2.7rem;
}

.page-contents .sub-tabs {
    width: 90rem;
}

.page-contents .sub-tabs ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-contents .sub-tabs ul li {
    width: 12.5rem;
    text-align: center;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    padding: 0.7rem 0;
}

.page-contents .sub-tabs ul li a {
    color: #666666;
}

.page-contents .sub-tabs ul li.active {
    background: #62832B;
    border: 1px solid #62832B;
    color: #fff;
}

.page-contents .sub-tabs ul li.active a {
    color: #fff;
}

/* tab-contents-wrap */
.inner-cont01 .product-info h4{
    font-size: 2.3125rem;
    font-weight: 600;
}

.inner-cont01 .product-info p {
    font-weight: 500;
    color: #666;
    font-size: 1.0625rem;
    line-height: 2rem;
    padding: 2.6875rem 0 3.9375rem 0;
    letter-spacing: -0.0625rem;
}

.inner-cont02 {
    position: relative;
}

.inner-cont02::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 365px;
    background: #879A82;
    right: 0;
    top: 0;
    z-index: -10;
}

.inner-cont02 h4 {
    color:#fff;
    font-size: 3rem;
    text-align: center;
    padding-top: 4.375rem;
}

.inner-cont02 .summary {
    position: relative;
}

.inner-cont02 .summary .photo .photo-img img {
    width: 310px;
    height: auto;
    position: relative;
    top: 50%;
    left: 13%;
    transform: translateY(-15%);
}

.inner-cont02 .summary .feature {
    position: absolute;
    width: 100%;
    height: 400px;
    background: url(../../images/product/f-bg.jpg) no-repeat center top;
    top:7%;
    z-index: -1;
    display: flex;
    align-items: center;
}

.inner-cont02 .summary .feature ul {
    padding-left: 39%;
    display: flex;
    justify-content: space-between;
}

.inner-cont02 .summary .feature .circle {
    width: 189px;
    height: 189px;
    border-radius: 100px;
    background: rgb(0 0 0 / 70%);
    position: relative;
    margin: 0 0.625rem;
}

.inner-cont02 .summary .feature .circle span {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    background: #62832B;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    position: absolute;
}

.inner-cont02 .summary .feature .circle .in-txt {
    width: 100%;
    font-size: 1.0625rem;
    line-height: 1.8rem;
    text-align: center;
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.inner-cont03 .detail-intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-cont03 .detail-intro h4 {
    font-size: 1.875rem;
    line-height: 3.3rem;
}

.inner-cont03 .detail-cont {
    padding-top: 4.6875rem;
}

.inner-cont03 .detail-cont dl {
    margin-bottom: 2.875rem;
}

.inner-cont03 .detail-cont dl dt {
    width: 95.6%;
    height: 55px;
    line-height: 55px;
    font-size: 1.125rem;
    font-weight: 600;
    padding-left: 3rem;
    border: 2px solid #62832B;
    border-radius: 5px;
    position: relative;
}

.inner-cont03 .detail-cont dl dt::before {
    content: "";
    position: absolute;
    top: 1.5rem;
    left: 1.5625rem;
    width: 6px;
    height: 6px;
    background: #62832B;
    border-radius: 100%;
}

.inner-cont03 .detail-cont dl dd {
    padding: 1.625rem 0 0 0.8125rem;
}

.inner-cont03 .detail-cont dl dd p {
    font-size: 1.0625rem;
    line-height: 2rem;
    font-weight: 500;
    color: #666;
    letter-spacing: -0.0625rem;
}

.inner-cont03 .detail-cont dl:last-child {
    margin-bottom: 10.625rem;
}

/* FOOTER */
#footer {
    width: 100%;
    background: #383838;
    padding: 2.1875rem 0 2.5rem 0;
}

#footer .container {
    align-items: flex-start;
}

#footer .f_logo {
    width: 162px;
    height: 31px;
}

#footer .f_logo img {
    width: 100%;
    height: 100%;
}

#footer .footer_contents  .tnb {
    display: flex;
    margin-bottom: 1.5rem;
}

#footer .footer_contents  .tnb li {
    padding: 0 0.625rem;
    position: relative;
}

#footer .footer_contents .tnb li:first-child {
    padding: 0 0.625rem 0 0;
}

#footer .footer_contents .tnb li::after {
    display: block;
    content: '';
    width: 1px;
    height: 10px;
    background: #D6D6D6;
    position: absolute;
    right: 0;
    top: 6px;
}

#footer .footer_contents .tnb li:last-child::after{
    display: none;
}

#footer .footer_contents .tnb li a {
    color: #D6D6D6;
}

#footer .footer_contents  address {
    margin-bottom: 1.5rem;
}

#footer .footer_contents  address span {
    display: inline-block;
    color: #D6D6D6;
    font-size: 0.875rem;
    padding-right: 1.25rem;
    line-height: 1.75rem;
}

#footer .footer_contents .copy {
    color: #D6D6D6;
}

#footer select {
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    color : #333;
    padding: 0.3rem 0.2rem;
}

#footer select option:first-child {
    font-weight: 600;
}

#footer .footer_contents .copy {
    font-size: 0.875rem;
}

@media (max-width:1645px){
    header .nav-pc > ul > li > a { font-size: 1rem; }
    header .nav-pc > ul > li { width: 120px; }
    header .nav-pc .sub { width: 120px; text-align: center; }
    header .nav-pc .sub a { font-size: 0.775rem; }
    header.sticky .nav-pc .sub{ width: 120px; }
    .page-contents .sub-tabs { width: 630px; }
    .page-contents .sub-tabs ul { flex-wrap: wrap;}
    .page-contents .sub-tabs ul li {margin:2px;}
    .inner-cont02 > .innerwrap {width: 100%;}
}

@media (max-width:1400px){
    .inner-cont02 .summary .feature {position:absolute; left:50%; transform: translateX(-50%);}
}

@media (max-width:1360px){
    header .container{ width: 90%; }
    header .header-top .nav-pc{display: none;}
    header .header-top .gnb .toggle{ display: flex; align-items: center; }
    header .header-top .gnb .toggle i { font-size: 35px; vertical-align:middle; }
    header.on .header-top .gnb .toggle i { color: #62832B; }
    header.on .logo a {width: 162px; height: 31px; background: url('../images/product/c-logo.png'); background-size: 100% 100%; }
    #product .page-top .page-title h2 { font-size:10.625rem; line-height: 8.4375rem;}
    .inner-cont03 .detail-intro h4 { font-size: 1.6rem; line-height: 2.5rem; }
    .inner-cont03 .detail-cont dl dd p { font-size: 0.9375rem;}
    #footer > .container { width: 1150px;}
}

@media (max-width:1200px){
    #footer > .container { width: 720px; text-align:center; flex-direction: column; align-items: center;}
    #footer .footer_contents .tnb { font-size: 0.875rem; margin-top:1.5rem; justify-content: center;}
    #footer .footer_contents address span  {padding-right: 0;}
    #footer .footer_sel { margin-top: 1.25rem; }
    .inner-cont01 > .innerwrap {border-bottom: 1px solid #ddd;}
    .inner-cont02 {width: 100%; height:640px; margin-top: 100px;}
    .inner-cont02::after {display: none;}
    .inner-cont02 h4 { position: absolute;  padding:0; left: 50%; top:-7%; transform: translateX(-50%); font-size: 2.1875rem; color:#333;}
    .inner-cont02 .summary .photo{position: absolute; left: 50%; transform: translate(-50%, 15%);  border: 5px solid #62832B; box-shadow: 6px 10px 7px 9px rgb(0 0 0 / 7%);}
    .inner-cont02 .summary .photo .photo-img { position: relative; width: 300px; height: 300px; background: rgb(0 0 0 / 80%);}
    .inner-cont02 .summary .photo .photo-img img {position: absolute; width: 170px; height: auto; top:50%; left: 50%; transform: translate(-50%, -50%);}
    .inner-cont02 .summary .feature {transform: translate(-50%,100%); height: 300px;}
    .inner-cont02 .summary .feature ul {padding-left: 0; position: absolute; left: 50%; top:35%; transform: translateX(-50%);}
    .inner-cont02 .summary .feature .circle {width: 140px; height: 140px;}
    .inner-cont02 .summary .feature .circle span {width: 35px; height: 35px; font-size: 1rem; line-height: 35px;}
    .inner-cont02 .summary .feature .circle .in-txt {font-size:0.9375rem;}
    .inner-cont03 .detail-intro h4 {font-size: 1.2rem; line-height: 1.8rem;} 
    
    .l-btn {margin-top: 1.25rem;}
    .l-btn .circle { width: 50px; height: 50px; }
    .l-btn .circle i { font-size:1.2rem; line-height: 50px;}
    .l-btn .btn-txt { font-size: 1rem; }
}

@media (max-width:1020px){
    #product .page-top .page-title .product-title {top:-70px;}
    #product .page-top .page-title h2 { font-size: 8.75rem; line-height: 6.75rem;}
    #product  .page-top .page-title .product .product-title {top:-70px}
}

 @media (max-width:970px){
    .page-contents .sub-tabs {width: 572px;}
    .page-contents .sub-tabs ul li { width: 184px; }
    .page-contents .sub-tabs ul li a {font-size: 0.875rem;}
    .inner-cont03 .detail-intro {flex-direction: column; align-items: flex-start;}
    .inner-cont03 .detail-cont dl dt {font-size: 1rem; letter-spacing: -0.1rem; height: 40px; line-height: 40px;}
    .inner-cont03 .detail-cont dl dt::before {top:1rem}
    .inner-cont03 .detail-cont dl dd p {font-size: 0.875rem;}
 }

  @media (max-width:800px){
    header .gnb ul { display: none; }
    #product .page-top .page-title .product-title {top:-35px;}
    #product  .page-top .page-title .product-bg {height: 327px;}
    #product  .page-top .page-title .product-bg .product-bg-box {background-position: left bottom;}
    #product  .page-top .page-title .product .product-title { top: -35px}
    #product  .page-top .page-title h2 { font-size: 5rem; line-height: 4.5rem;}
    .page-contents .main-title .en { font-size: 3.75rem;}
    .page-contents .title-area{padding:5.5rem 1.125rem;}
    .inner-cont01 .product-info p {font-size: 0.9375rem;}
    #footer > .container{ width: 480px;}
    #footer .footer_contents { width: 100%;}
    #footer .footer_contents .tnb li { letter-spacing: -1px;}
  }

  @media (max-width:780px) {
    .inner-cont03 > .innerwrap { width: 92%;}
    .inner-cont03 .detail-cont dl dt{ width: 86%; font-size: 0.875rem; height: 30px; line-height: 30px;}
    .inner-cont03 .detail-cont dl dt::before {top:0.7rem}
  }

  @media (max-width:620px){
    .inner-cont01 .product-info h4 { font-size: 1.875rem;}
    .page-contents .main-title .en { font-size: 3.75rem;}
    .page-contents .title-area{padding:5.5rem 1.125rem;}
    .page-contents .sub-tabs {width: 272px;}
    .page-contents .sub-tabs ul {flex-wrap: wrap;}
    .page-contents .sub-tabs ul li {width: 130px; margin:2px;}
    .page-contents .sub-tabs ul li a {font-size: 0.875rem; letter-spacing: -1px;}
 }

  @media (max-width:520px){
    .inner-cont02 {height:580px;}
    .inner-cont02 .summary .photo .photo-img {width: 280px; height: 280px;}
    .inner-cont02 .summary .feature ul {top:30%;}
    .inner-cont02 .summary .feature .circle {width: 100px; height: 100px; margin: 0 0.325rem;}
    .inner-cont02 .summary .feature .circle .in-txt {font-size: 0.8rem;}
    .inner-cont02 .summary .feature {height: 230px; transform: translate(-50%,135%);}
    .inner-cont02 .summary .feature .circle span {width: 25px; height: 25px; line-height: 25px;}
    .inner-cont02 .summary .photo .photo-img img {width: 150px;}

    #footer > .container { width: 340px; }
    #footer .footer_contents .tnb { flex-wrap: wrap;}
    #footer .footer_contents .tnb li { letter-spacing: -2px;}
    #footer .footer_contents .tnb li:first-child { padding: 0 0.5rem;}
  }

  @media (max-width:480px) {
    #product .page-top .page-title .product-title h2 span {display: block;}
  }

  @media (max-width:430px){
    .inner-cont02 h4 {font-size: 1.875rem;}
    .inner-cont03 .detail-intro h4 {font-size: 1rem;}
    .inner-cont03 .detail-cont dl:nth-of-type(2) dt {height: 60px;}
  }