@charset "utf-8";
@import "default.css";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

/* TYPOCRAPHY */
html, body { width: 100%; overflow-x: hidden; }

body {
	font-family: 'Montserrat', sans-serif;;
	font-size: 16px;
	color:#333333;
    background: #F8F8F8;
}

/* LAYOUT */
.container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
    margin: 0 auto;
}

.tab-contents-wrap .innerwrap {
    width: 67.7%; /*1300px*/
    margin: 0 auto;
}

/* HEADER */
header {
    position: absolute;
    z-index:1000;
    top:0;
    left: 0;
    right: 0;
    padding: 51px 0 37px;
    transition: .3s;
}

header .header-top {
    position: relative;
}

header .container a {
    color: #222;
}

header .logo a {
    width: 162px;
    height: 31px;
    background: url(../../images/intro/c-logo.png) no-repeat;
    background-size: 100% 100%;
    text-indent: -9999px;
    display: block;
}

header .nav-pc > ul {
    display: flex;
}

header .nav-pc > ul > li{
    width: 159px;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    position: relative;
    font-weight: 600;
}

header .nav-pc > ul > li > a {
    font-size: 1.1rem;
}

header .nav-pc .sub {
    width: 159px;
    text-align: center;
    position: absolute;
    top:3rem;
    z-index: 100;
    background: #62832b;
    display: none;
    padding: 1rem 0;
}

header .nav-pc .sub li {
    height: 1.8rem;
    line-height: 1.8rem;
}

header .nav-pc .sub a {
    color:#fff;
    font-size: 0.875rem;
    font-weight: 500;
}

header .gnb {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .gnb > ul {
    display: flex;
}

header .gnb ul > li {
    padding: 0 0.625rem;
}

header .gnb .g-l {
    position: relative;
}

header .gnb .g-l::after{
    display: block;
    content: '';
    width: 1px;
    height: 10px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 0;
    top:5px
}

header .gnb .g-w {
    position: relative;
}

header .gnb .g-w .depth {
    position: absolute;
    text-align: center;
    border: 1px solid #ddd;
    left: -5px;
    background: #f8f8f8;
    z-index: 2000;
    display: none;
}

header .gnb .g-w .depth.active {
    display: block;
}

header .gnb .g-w .depth li:first-child {
    border-top: none;
}

header .gnb .g-w .depth li {
    border-top: 1px solid #ddd;
}

header .gnb .g-w .depth li a {
    display: block;
    padding: 3px 5px;
    color :#333;
    font-weight: 500;
}

header .gnb a{
    font-size: 0.875rem;
}

header .gnb .toggle {
    margin-left: 1.3rem;
    color: #62832B;
    font-size: 2rem;
    display: none;
}

/* header.sticky  */
header.sticky {
    position: fixed;
    padding: 0.5rem 0px;
    background: #f8f8f8;
    box-shadow: 0 2px 2px rgb(0 0 0 / 30%);
}

header.sticky .header-top {
    position: relative;
    width: 100%;
}

header.sticky .header-top .gnb_bg{
    position: absolute;
    border-top: 3px solid #eee;
    background: #f8f8f8;
    width: 100%; 
    padding: 1.3rem 0;
    height: 13rem !important;
    left: 0;
    top:3.5rem;
    display: none;
    box-shadow: 0 2px 2px rgb(0 0 0 / 30%);
}

header.sticky .nav-pc .sub {
    background: #f8f8f8;
    border-top: 3px solid #eee;
    width: 159px;
    height: 13rem !important;
    text-align: center;
    position: absolute;
    top:3.5rem;
    display: none;
    padding: 1rem 0;
}

header.sticky .nav-pc .nav-li:hover .sub{
    border-top: 3px solid #62832B;
}

header.sticky .nav-li .sub ul a:hover {
    color:#62832B;
}

header.sticky .container a {
    color: #222;
    font-weight: 700;
}

header.sticky .container .gnb .g-w > a {
    color: #538254;
}

header.sticky .container .gnb .g-l a {
    color: #666;
    font-weight: 500;
}

header.sticky .container .toggle {
    color: #62832B;
}

header.sticky .logo a {
    width: 162px;
    height: 31px;
    background: url(../../images/intro/c-logo.png);
    background-size: 100% 100%;
}

header.sticky .gnb .g-l::after{
    background: rgba(0, 0, 0, 0.3);
}

/* INTRO */
#intro .page-top {
    position: relative;
    padding: 15.625rem 7.5% 0;
}

#intro .page-top .page-location{
    display: flex;
    justify-content: flex-end;
}

#intro .page-top .page-location > ul{
    display: flex;
}

#intro .page-top .page-location > ul > li {
    position: relative;
    padding-right: 1rem;
    margin-right: 0.625rem;
    font-size: 14px;
    color: #555;
}

#intro .page-top .page-location > ul > li:after {
    display: block;
    content: "";
    width: 7px;
    height: 11px;
    background: url(../../images/intro/arrow.png) no-repeat;
    position: absolute;
    right: -1px;
    top: 3px;
}

#intro .page-top .page-location > ul > li:last-child::after{
    background: none;
}

#intro .page-top .page-location > ul > li a {
    font-size: 0.875rem;
    color: #666666;
}

#intro .page-top .page-title {
    position: relative;
    z-index: 10;
    margin-top: 2.8125rem;
}

#intro .page-top .page-title .intro-bg {
    overflow: hidden;
    position: relative;
    right: -8.8%;
    top: 0;
    width: 100%;
    height: 33.125rem;
    transition: all 1s;
}

#intro .page-top .page-title .intro-bg .int-bg-box {
    width: 100%;
    height: 100%;
    background: url(../../images/intro/intro-bg.jpg) no-repeat right bottom;
    /* background-attachment: fixed; */
    /* background-size: 100% 100%; */
    position: absolute;
    transform: translateY(0%);
    top:0;
    right: 0;
    transition: .6s;
}

#intro .page-top .page-title .intro-title {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 10;
    transition: all 1s;
    /* font-family: "Cormorant Garamond";
    font-size: 15rem;
    color: #222;
    line-height: 0.65em;
    text-shadow: 0 2px 3px rgb(0 0 0 / 10%); */
}

#intro .page-top .page-title h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 14.375rem;
    color: #222;
    line-height: 12rem;
    text-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}

/* page-contents */
.page-contents .title-area {
    padding: 7.5rem;
}

.page-contents .main-title .en {
    font-family: 'Cormorant Garamond', serif;
    font-size: 6.25rem;
}

.page-contents .main-title .kr{
    position: relative;
    color: #62832B;
    font-weight: 600;
    padding: 1rem 0 3.125rem 4.375rem;
}

.page-contents .main-title .kr::after {
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    background: #62832B;
    position: absolute;
    left: 0;
    top: 1.8rem;
}

.page-contents .sub-tabs {
    width: 51.5rem;
}

.page-contents .sub-tabs ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-contents .sub-tabs ul li {
    width: 12.5rem;
    text-align: center;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    padding: 0.7rem 0;
}

.page-contents .sub-tabs ul li a {
    color: #666666;
}

.page-contents .sub-tabs ul li.active {
    background: #62832B;
    border: 1px solid #62832B;
    color: #fff;
}

.page-contents .sub-tabs ul li.active a {
    color: #fff;
}

/* section */
.section01 .company-info h4 {
    font-size: 2.3125rem;
    font-weight:600;
}

.section01 .company-info p {
    font-weight: 500;
    color: #666;
    font-size: 1.0625rem;
    line-height: 2rem;
    padding: 2.6875rem 0 3.9375rem 0;
    letter-spacing: -0.0625rem;
}

.section01 .imgarea {
    position: relative;
    width: 100%;
    height: 706px;
}

.section01 .imgarea .img-scrollable {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../images/intro/scroll.jpg) no-repeat center;
    background-size: cover;
    left: 50%;
    top:0;
    transform: translateX(-50%);
    transition: 1s;
}

.section01 .imgarea .img-scrollable.reduce {
    width: 92%;
}

.section02 {
    position: relative;
    padding: 10.25rem 0 14.0625rem 0;
} 

.section02::after {
    position: absolute;
    content: '';
    width: 41%;
    height: 49%;
    background: #F1F3ED;
    right: 0;
    top: 0;
    z-index: -1;
}

.section02 .company-cont {
    width: 99.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section02 .company-cont:nth-child(2) {
    flex-direction: row-reverse;
    margin-top: 17.8125rem;
}

.section02 .company-cont .company-txt h4 {
    font-size: 3.75rem;
    letter-spacing: -0.4rem;
    padding-bottom: 3.625rem;
}

.section02 .company-cont .company-txt h4 span {
    letter-spacing: -0.2rem;
}

.section02 .company-cont .company-txt p {
    font-size: 1.0625rem;
    line-height: 2rem;
    font-weight: 500;
    color: #666;
    letter-spacing: -0.0625rem;
}

.section03 {
    position: relative;
}

.section03::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 500px;
    background: #879A82;
    right: 0;
    top: 0;
    z-index: -1;
}

.section03 h4 {
    display: inline-block;
    font-family: 'Cormorant Garamond', serif;
    font-size: 6.25rem;
    color: #fff;
    position: relative;
    top: 4.0625rem;
    left: 50%;
    transform: translateX(-50%);
}

.section03 .imgarea {
    width: 67.7%;
    height: 572px;
    margin: 0 auto;
    overflow: hidden;
}

.section03 .imgarea .img-scrollable {
    width: 100%;
    height: 100%;
    background: url(../../images/intro/scroll2.jpg) no-repeat center;
    /* background-size: 100% 100%; */
    /* background-size: cover; */
}

.section04 {
    padding-top: 5.375rem;
}

.section04 .txtarea h4 {
    font-size: 2.3125rem;
    text-align: center;
    margin: 0 auto;
    letter-spacing: -0.0625rem;
}

.section04 .contarea{
    padding: 6.25rem 0 7.0625rem;
    display: flex;
    justify-content: space-between;
}

.section04 .contarea dl {
    text-align: center;
    border-right: 1px solid #ddd;
    padding: 6.38rem 7.85%;
}

.section04 .contarea dl:last-child  {
    border: 0;
}

.section04 .contarea dd {
    font-size: 1.0625rem;
    line-height: 2rem;
    font-weight: 500;
    color: #666;
    letter-spacing: -0.0625rem;
}

.section04 .contarea dt{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 6.375rem 0 2rem;
}

.section04 .contarea dl:nth-child(1) dt {
    background: url(../../images/intro/cont-icon1.png) no-repeat center top;
    background-size: 65px 65px;
}

.section04 .contarea dl:nth-child(2) dt {
    background: url(../../images/intro/cont-icon2.png) no-repeat center top;
    background-size: 65px 65px;
}

/* FOOTER */
#footer {
    width: 100%;
    background: #383838;
    padding: 2.1875rem 0 2.5rem 0;
}

#footer .container {
    align-items: flex-start;
}

#footer .f_logo {
    width: 162px;
    height: 31px;
}

#footer .f_logo img {
    width: 100%;
    height: 100%;
}

#footer .footer_contents  .tnb {
    display: flex;
    margin-bottom: 1.5rem;
}

#footer .footer_contents  .tnb li {
    padding: 0 0.625rem;
    position: relative;
}

#footer .footer_contents .tnb li:first-child {
    padding: 0 0.625rem 0 0;
}

#footer .footer_contents .tnb li::after {
    display: block;
    content: '';
    width: 1px;
    height: 10px;
    background: #D6D6D6;
    position: absolute;
    right: 0;
    top: 6px;
}

#footer .footer_contents .tnb li:last-child::after{
    display: none;
}

#footer .footer_contents .tnb li a {
    color: #D6D6D6;
}

#footer .footer_contents  address {
    margin-bottom: 1.5rem;
}

#footer .footer_contents  address span {
    display: inline-block;
    color: #D6D6D6;
    font-size: 0.875rem;
    padding-right: 1.25rem;
    line-height: 1.75rem;
}

#footer .footer_contents .copy {
    color: #D6D6D6;
}

#footer select {
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    color : #333;
    padding: 0.3rem 0.2rem;
}

#footer select option:first-child {
    font-weight: 600;
}

#footer .footer_contents .copy {
    font-size: 0.875rem;
}

 @media (max-width:1645px){
    header .nav-pc > ul > li > a { font-size: 1rem; }
    header .nav-pc > ul > li { width: 120px; }
    header .nav-pc .sub { width: 120px; text-align: center; }
    header .nav-pc .sub a { font-size: 0.775rem; }
    header.sticky .nav-pc .sub{ width: 120px; }

    .section02 .company-cont {width: 96.0486%;}
    .section02 .company-cont:nth-of-type(1) .intro_img {width: 505px; height: 415px;}
    .section02 .company-cont:nth-of-type(1) .intro_img img {width: 100%; height: 100%;}
    .section02 .company-cont:nth-of-type(2) .intro_img {width: 310px; height: 534px;}
    .section02 .company-cont:nth-of-type(2) .intro_img img {width: 100%; height: 100%;}
    .section03 .imgarea {width: 78.43%; height: 500px;}
    .section04 .contarea dl {width: 50%; padding: 3.38rem 2.85%;}
 }

  @media (max-width:1360px){
    header .container{ width: 90%; }
    header .header-top .nav-pc{display: none;}
    header .header-top .gnb .toggle{ display: flex; align-items: center; }
    header .header-top .gnb .toggle i { font-size: 35px; vertical-align:middle; }
    header.on .header-top .gnb .toggle i { color: #62832B; }
    header.on .logo a {width: 162px; height: 31px; background: url('../images/main/c-logo.png'); background-size: 100% 100%; }

    .tab-contents-wrap .innerwrap {width: 84.5588%;}
    .section03 h4{text-align: center;}
    .section04 .contarea dd {font-size: 1rem;}
    .section04 .contarea dl { padding: 6.38rem 3.85%;}
    #footer > .container { width: 1150px;}
 }

 @media (max-width:1200px){
    #footer > .container { width: 720px; text-align:center; flex-direction: column; align-items: center;}
    #footer .footer_contents .tnb { font-size: 0.875rem; margin-top:1.5rem; justify-content: center;}
    #footer .footer_contents address span  {padding-right: 0;}
    #footer .footer_sel { margin-top: 1.25rem; }
 }

 @media (max-width:1020px){
    #intro .page-top .page-title h2 { font-size: 8.75rem; line-height: 6.75rem;}
    #intro .page-top .page-title .intro-title {top:-70px}
    .tab-contents-wrap .innerwrap {width: 83.33333333333333%;}
    .section01 .imgarea {height: 466px;}
    .section02 .company-cont .company-txt h4 {font-size: 2.4rem;}
    .section02 .company-cont .company-txt p {font-size: 0.925rem;}
    .section02 .company-cont:nth-of-type(1) .intro_img {width: 355px; height: 290px;}
    .section02 .company-cont:nth-of-type(1) .intro_img img {width: 100%; height: 100%;}
    .section02 .company-cont:nth-of-type(2) .intro_img {width: 290px; height: 504px;}
    .section02 .company-cont:nth-of-type(2) .intro_img img {width: 100%; height: 100%;}
    .section02 .company-cont:nth-of-type(2) .company-txt {width: 400px;}
    .section02 .company-cont:nth-of-type(2) .company-txt br {display: none;}
    .section03 h4 {font-size:5rem; text-align: center;}
    .section04 .txtarea h4 {font-size: 1.8rem;}
    .section04 .contarea dt {font-size: 1.2rem;}
    .section04 .contarea dd br {display: none;}
 }

  @media (max-width:970px){
    .page-contents .sub-tabs {width: 572px;}
    .page-contents .sub-tabs ul li {width: 170px; margin:2px;}
    .page-contents .sub-tabs ul li a {font-size: 0.875rem;}
  }

  @media (max-width:800px){
    header .gnb ul { display: none; }

    #intro .page-top .page-title .intro-bg {height: 327px;}
    #intro .page-top .page-title .intro-bg .int-bg-box {background-position: center bottom;}
    #intro .page-top .page-title .intro-title { top: -35px}
    #intro .page-top .page-title h2 { font-size: 5rem; line-height: 4.5rem;}
    .page-contents .main-title .en { font-size: 3.75rem;}
    .page-contents .title-area{padding:5.5rem 1.125rem;}

    .section01 .company-info h4 {font-size:1.875rem; padding-top: 2.6875rem;}
    .section01 .company-info p {font-size: 0.9375rem; letter-spacing: -2px;}
    .section01 .imgarea {height: 316px;}
    .section02 { padding: 3.25rem 0 7.0625rem 0;}
    .section02::after {height: 42%;}
    .section02 .company-cont .company-txt h4 {font-size: 2.1875rem; padding:2.5rem 0;}
    .section02 .company-cont .company-txt p {font-size: 0.9375rem; letter-spacing: -2px;}
    .section02 .company-cont .company-txt p br:nth-of-type(3),
    .section02 .company-cont .company-txt p br:nth-of-type(4) {display: none;}
    .section02 .company-cont:nth-of-type(1) .intro_img {height: 214px; width: 287px;}
    .section02 .company-cont:nth-of-type(1) .intro_img img {height: 214px; width: 287px;}
    .section02 .company-cont:nth-child(2)  .company-txt {width: 350px; padding-left: 80px;}
    .section02 .company-cont:nth-child(2) .intro_img {width: 215px; height: 367px; margin-left: auto;}
    .section02 .company-cont:nth-child(2) .intro_img img {width: 215px; height: 367px;}
    .section03 { display: flex; flex-direction: column-reverse;}
    .section03::after {position: absolute;}
    .section03 h4 { font-size: 4.0625rem; text-align: center; z-index: 10; top:0rem;}
    .section03 .imgarea { width: 90.7%; height: 331px; transform: translateY(20%);}
    .section03 .imgarea .img-scrollable {width: 100%; height: 100%; background-size: cover;}
    .section04 .txtarea h4 {padding-top: 4.0625rem; }
    .section04 .contarea {flex-direction: column; padding: 2.25rem 0 4.0625rem;}
    .section04 .contarea dl {border-right: 0; border-bottom: 1px solid #ddd; padding: 1.875rem 7.85%; width: auto;}
    .section04 .contarea dt {font-size: 1.25rem; letter-spacing: -1px;}
    .section04 .contarea dd {font-size: 0.9375rem; letter-spacing: -2px;}
    .section04 .contarea dd br {display: none;}

    #footer > .container{ width: 480px;}
    #footer .footer_contents { width: 100%;}
    #footer .footer_contents .tnb li { letter-spacing: -1px;}
 }

 @media (max-width:780px){
    .section02 .company-cont {flex-direction: column-reverse; width:100%; align-items: baseline;}
    .section02 .company-cont .company-txt p br:nth-of-type(3),
    .section02 .company-cont .company-txt p br:nth-of-type(4) {display: none;}
    .section02 .company-cont:nth-of-type(1) .intro_img {height: 360px; width: 445px;}
    .section02 .company-cont:nth-of-type(1) .intro_img img {height: 100%; width: 100%;}
    .section02 .company-cont:nth-child(2) {flex-direction: column-reverse; margin-top: 12.5rem;}
    .section02 .company-cont:nth-child(2) .intro_img {width: 305px; height: 528px; margin-right: auto; margin-left: 0;}
    .section02 .company-cont:nth-child(2) .intro_img img {width: 100%; height: 100%;}
    .section02 .company-cont:nth-child(2) .company-txt {width:100%; padding-left: 0;}
    .section04 .txtarea h4 {font-size: 1.4rem;}
 }

 @media(max-width:740px){
    .section04 .txtarea h4 {padding-top: 0;}
 }

 @media (max-width:620px){
    .page-contents .main-title .en { font-size: 3.75rem;}
    .page-contents .title-area{padding:5.5rem 1.125rem;}
    .page-contents .sub-tabs {width: 275px;}
    .page-contents .sub-tabs ul {flex-wrap: wrap;}
    .page-contents .sub-tabs ul li {width: 130px; margin:2px;}
    .page-contents .sub-tabs ul li a {font-size: 0.875rem;}
 }

 @media (max-width:520px){
    .section02 .company-cont:nth-of-type(1) .intro_img {height:221px; width: 273px;}
    .section02 .company-cont:nth-of-type(1) .intro_img img {height: 100%; width: 100%;}
    .section02 .company-cont:nth-child(2) .intro_img {width: 203px; height: 352px; margin-right: auto; margin-left: 0;}
    .section02 .company-cont:nth-child(2) .intro_img img {width: 100%; height: 100%;}
    .section03 h4{font-size: 2.8125rem;}
    .section02 .company-cont .company-txt h4 {font-size: 1.875rem; letter-spacing: -0.28rem;}
    .section04 .txtarea h4 {padding-top: 3.4375rem;}

    #footer > .container { width: 340px; }
    #footer .footer_contents .tnb { flex-wrap: wrap;}
    #footer .footer_contents .tnb li { letter-spacing: -2px;}
    #footer .footer_contents .tnb li:first-child { padding: 0 0.5rem;}
 }
